In [1]:
import pandas as pd
from datetime import datetime
from dateutil.parser import parse

In [2]:
df = pd.read_csv("Uniqlo2012-2016stocks.csv")

In [3]:
df["Date"] = pd.to_datetime(df["Date"])

In [4]:
dat = df["Date"][0]

In [5]:
dat.day

30

In [6]:
def set_year(date):
    return date.year

def set_month(date):
    return date.month

def set_day(date):
    return date.day

In [7]:
df["Year"] = df["Date"].apply(set_year)
df["Month"] = df["Date"].apply(set_month)
df["Day"] = df["Date"].apply(set_day)

In [8]:
df.head()

,Date,Open,High,Low,Close,Volume,Stock Trading,Year,Month,Day
0,2016-12-30,42120,42330,41700,41830,610000,25628028000,2016,12,30
1,2016-12-29,43000,43220,42540,42660,448400,19188227000,2016,12,29
2,2016-12-28,43940,43970,43270,43270,339900,14780670000,2016,12,28
3,2016-12-27,43140,43700,43140,43620,400100,17427993000,2016,12,27
4,2016-12-26,43310,43660,43090,43340,358200,15547803000,2016,12,26

In [9]:
df.drop(["Date", "Stock Trading"], axis=1, inplace=True)

In [10]:
df.head()

    Open   High    Low  Close  Volume  Year  Month  Day
0  42120  42330  41700  41830  610000  2016     12   30
1  43000  43220  42540  42660  448400  2016     12   29
2  43940  43970  43270  43270  339900  2016     12   28
3  43140  43700  43140  43620  400100  2016     12   27
4  43310  43660  43090  43340  358200  2016     12   26

In [11]:
df.to_csv("processed_uniqlo.csv", index=False)

In [12]:
test = pd.read_csv("Uniqlo(FastRetailing) 2017 Test - stocks2017.csv")

In [13]:
test["Date"] = pd.to_datetime(test["Date"])

In [14]:
test["Year"] = test["Date"].apply(set_year)
test["Month"] = test["Date"].apply(set_month)
test["Day"] = test["Date"].apply(set_day)

In [15]:
test.drop(["Date", "Stock Trading"], axis=1, inplace=True)

In [16]:
test.to_csv("processed_test_uniqlo.csv", index=False)